bin/
dist/
.tools/

# GoLand IDEA
/.idea/
*.iml

# VS Code
.vscode/
.devcontainer/

# Emacs
*~
\#*\#

# Miscellaneous files
*.sw[op]
*.DS_Store

# Coverage
coverage/*
coverage.txt

# Benchmarks
benchmarks.txt

# Wix
*.wixobj
*.wixpdb

# golang
go.work*
