bin/
dist/

# GoLand IDEA
/.idea/
*.iml

# VS Code
.vscode/
.devcontainer/

# Emacs
*~
\#*\#

# Miscellaneous files
*.sw[op]
*.DS_Store

# Coverage
coverage.txt
coverage_all.txt
coverage_old.txt
coverage.html

# Wix
*.wixobj
*.wixpdb
