# This file is documented at https://git-scm.com/docs/gitattributes.
# Linguist-specific attributes are documented at
# https://github.com/github/linguist.

go.sum linguist-generated=true

# To avoid git status and other tools reporting files due to different line endings
# normalize the line endings to LF
* text=auto eol=lf
