## {{ cleanType .Type }}

| Name | Type | Default | Docs |
| ---- | ---- | ------- | ---- |
{{ range .Fields -}}
| {{ .Name }} |
{{- if .Type -}}
    {{- if isCompoundField .Kind -}}
        [{{ cleanType .Type }}](#{{ cleanType .Type }})
    {{- else -}}
        {{ .Type }}
    {{- end -}}
{{- else -}}
    {{ .Kind }}
{{- end -}}
| {{ .Default }} | {{ join .Doc }} |
{{ end }}
