{{- if len .FeatureGates }}

## Feature Gates

This component has the following feature gates:

| Feature Gate | Stage | Description | From Version | To Version | Reference |
| ------------ | ----- | ----------- | ------------ | ---------- | --------- |
{{- range $gateID, $gate := .FeatureGates }}
| `{{ $gateID }}` | {{ $gate.Stage }} | {{ $gate.Description }} | {{ if $gate.FromVersion }}{{ $gate.FromVersion }}{{ else }}N/A{{ end }} | {{ if $gate.ToVersion }}{{ $gate.ToVersion }}{{ else }}N/A{{ end }} | {{ if $gate.ReferenceURL }}[Link]({{ $gate.ReferenceURL }}){{ else }}N/A{{ end }} |
{{- end }}

For more information about feature gates, see the [Feature Gates](https://github.com/open-telemetry/opentelemetry-collector/blob/main/featuregate/README.md) documentation.

{{- end }}