{{- define "putAttribute" -}}
	{{- if eq $.Attr.Type.Primitive "[]byte" }}
	dp.Attributes().PutEmptyBytes("{{ $.Attr.Name }}").FromRaw({{ $.Name.RenderUnexported }}AttributeValue)
	{{- else if eq $.Attr.Type.Primitive "[]any" }}
	dp.Attributes().PutEmptySlice("{{ $.Attr.Name }}").FromRaw({{ $.Name.RenderUnexported }}AttributeValue)
	{{- else if eq $.Attr.Type.Primitive "map[string]any" }}
	dp.Attributes().PutEmptyMap("{{ $.Attr.Name }}").FromRaw({{ $.Name.RenderUnexported }}AttributeValue)
	{{- else }}
	dp.Attributes().Put{{ $.Attr.Type }}("{{ $.Attr.Name }}", {{ $.Name.RenderUnexported }}AttributeValue)
	{{- end }}
{{- end -}}

{{- define "getAttributeValue" -}}
{{ if $.Attr.Enum }}Attribute{{ $.Name.Render }}{{ (index $.Attr.Enum 0) | publicVar }}{{ else }}{{ $.Attr.TestValue }}{{ end }}
{{- end -}}
