default:
all_set:
  {{- if .Metrics }}
  metrics:
    {{- range $name, $_ := .Metrics }}
    {{ $name }}:
      enabled: true
    {{- end }}
  {{- end }}
  {{- if .ResourceAttributes }}
  resource_attributes:
    {{- range $name, $_ := .ResourceAttributes }}
    {{ $name }}:
      enabled: true
    {{- end }}
  {{- end }}
none_set:
  {{- if .Metrics }}
  metrics:
    {{- range $name, $_ := .Metrics }}
    {{ $name }}:
      enabled: false
    {{- end }}
  {{- end }}
  {{- if .ResourceAttributes }}
  resource_attributes:
    {{- range $name, $_ := .ResourceAttributes }}
    {{ $name }}:
      enabled: false
    {{- end }}
  {{- end }}
filter_set:
  {{- if .Metrics }}
  metrics:
    {{- range $name, $_ := .Metrics }}
    {{ $name }}:
      enabled: true
    {{- end }}
  {{- end }}
  {{- if .ResourceAttributes }}
  resource_attributes:
    {{- range $name, $attr := .ResourceAttributes }}
    {{ $name }}:
      enabled: true
      {{- if eq $attr.Type.String "Str" }}
      exclude:
        - strict: "non-existent"
        - regexp: "non-existent"
      include:
        - strict: "non-existent"
        - regexp: "non-existent"
        - strict: {{ $attr.TestValue }}
        - regexp: ".*"
      {{- end }}
    {{- end }}
  {{- end }}
