name: CodSpeed Benchmarks

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

env:
  # renovate: datasource=github-releases depName=codspeed packageName=CodSpeedHQ/runner
  CODSPEED_RUNNER_VERSION: v4.3.4

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
          cache: false
      - name: Cache Go
        id: go-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
          key: go-cache-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/go.sum') }}

      # The following comes from https://github.com/CodSpeedHQ/action/blob/6a8e2b/action.yml with significant modifications.
      # Copyright (c) 2022 CodSpeed and contributors
      # TODO: Switch to a setup-codspeed action when available, see https://github.com/CodSpeedHQ/action/issues/146
      - name: Determine kernel version
        id: versions
        shell: bash
        run: |
          # Get kernel version for cache key
          KERNEL_VERSION=$(uname -r)
          echo "kernel-version=$KERNEL_VERSION" >> $GITHUB_OUTPUT
      - name: Cache CodSpeed instruments
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/codspeed-action
          key: codspeed-instruments-instrumentation-${{ runner.os }}-${{ runner.arch }}-${{steps.versions.outputs.kernel-version }}-${{ env.CODSPEED_RUNNER_VERSION }}
          restore-keys: |
            codspeed-instruments-instrumentation-${{ runner.os }}-${{ runner.arch }}-${{steps.versions.outputs.kernel-version }}-${{ env.CODSPEED_RUNNER_VERSION }}
      # TODO: Remove 'cargo install' once https://github.com/CodSpeedHQ/codspeed-go/issues/31 fix is released
      - name: Setup codspeed
        run: |
          curl -fsSL https://github.com/CodSpeedHQ/runner/releases/download/${{ env.CODSPEED_RUNNER_VERSION }}/codspeed-runner-installer.sh | bash -s -- --quiet
          cargo install --git https://github.com/CodSpeedHQ/codspeed-go/ --branch cod-1666-codspeed-go-is-unable-to-run-benchmarks-on-go-modules-with
      - name: Run benchmarks
        run: |
          make for-all-target TARGET="codspeed-benchmark"

