name: "Close stale pull requests"
on:
  schedule:
    - cron: "12 3 * * *" # arbitrary time not to DDOS GitHub

permissions: read-all

jobs:
  stale:
    if: ${{ false }} # Stale action paused for the holidays
    permissions:
      issues: write # for actions/stale to close stale issues
      pull-requests: write # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-pr-message: "This PR was marked stale due to lack of activity. It will be closed in 14 days."
          close-pr-message: "Closed as inactive. Feel free to reopen if this PR is still being worked on."
          days-before-pr-stale: 14
          days-before-issue-stale: 730
          days-before-pr-close: 14
          days-before-issue-close: 30
